Django==5.2.6
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10

cloudinary==1.44.1
django-cloudinary-storage==0.3.0

python-decouple==3.8
python-dotenv==0.21.1

pillow==12.0.0
PyMuPDF==1.26.6

requests==2.32.5

google-generativeai==0.8.5

django-allauth==65.13.1
Django-Verify-Email==3.0.3

resend==2.19.0
sib-api-v3-sdk==7.6.0
